body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.hideme {
    opacity:0;
}

.button-action {
    background: #81BB46;
    color: #fff;
    border: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.8);
    height: 50px;
    line-height: 50px;
}

.u-text-centered {
    text-align: center
}

.u-flat {
    margin: 0 !important;
}

.u-spacer {
    margin-bottom: 2.828em;
}

.u-spacer-small {
    margin-bottom: 1.414em;
}

.u-light {
    font-weight: 100;
}

.container--small {
    max-width: 600px;
}

.container--smallest {
    max-width: 400px;
}

.logo {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.logo span {
    font-weight: 300;
    opacity: 0.7;
}

.hero {
    background-color: #333;
    color: #fff;
    padding: 0;
    background-image: url(../images/woodworking.jpg);
    position: relative;
}

.hero:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8));
}

.header {
    padding: 24px 0;
}

.intro {
    max-width: 640px;
    margin: 140px auto;
}

.tagline {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
    font-family: 'Oswald';
}

.description {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 48px;
}

section {
    padding: 50px 0;
}

.snapshot {
    background-color: #0D1824;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
}

.iphone {
    width: 300px;
    height: 620px;
    background-size: cover;
    background-image: url(../images/iphone.png);
    background-repeat: no-repeat;
    left: 50%;
    margin-left: -150px;
    position: absolute;
    top: -36px;
}

.screenshot {
    width: 262px;
    height: 464px;
    background-image: url(../images/screen-1.png);
    background-size: cover;
    position: absolute;
    top: 70px;
    left: 23px;
}

.how {
    background-color: #f4f4f4;
    padding-top: 150px;
}

.contact {
    background-color: #4a90e2;
    color: #fff;
}

.signup input[type=text] {
    border: 1px solid #fff;
    background: none;
    color: #fff;
}

.signup input[type=submit] {
    background: #fff;
    color: #333;
    border: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.4);
    margin-top: 1.414em;;
}

.footer {
    padding: 24px 0;
    background: #1D3047;
}
