<div class="timeline">
    <h4>Latest timeline</h4>
    <ul class="unstyled timeline__list" ng-repeat="item in timeline">
        <li class="timeline__item">
            <small class="timeline__time">{[{ date }]}</small>
            <p><a href="#">{[{ personName }]}</a> {[{ actiontext }]} <strong>{[{ itemName }]}</strong>.</p>
        </li>
    </ul>
</div>
