<header class="header u-cf u-full-width">
    <div class="container">
        <a class="logo" href="/">
            <img class="logo__cube" src="images/growth-cube.png" alt="">
            <span class="logo__label">
                growth<strong>learning</strong>
            </span>
        </a>
        <p class="u-flat u-pull-right login">Already a member? <a href="login.html" id="toggle-login">Login</a></p>
    </div>
</header>
