@import "normalize.css"
@import "skeleton.css"

*
    box-sizing: border-box

body
    font-family: 'Roboto', sans-serif
    font-size: 13px

.hideme
    opacity:0

.login
    display: none

.button-action
    background: #81BB46 !important
    border: 0 !important
    color: #1D3047 !important
    font-size: 14px
    font-weight: 700
    box-shadow: 0 1px 1px rgba(0,0,0,0.8)

.u-text-centered
    text-align: center


.u-underlined
    border-bottom: 1px solid #ddd
    padding-bottom: 12px


.u-flat
    margin: 0 !important


.u-spacer
    margin-bottom: 2.828em


.u-spacer-small
    margin-bottom: 1.414em


.u-light
    font-weight: 100


.container--small
    max-width: 600px


.container--smallest
    max-width: 400px


.logo
    font-family: 'Khula'
    text-transform: uppercase
    font-weight: 700
    color: #fff
    text-decoration: none
    font-size: 20px
    display: flex
    align-items: center
    line-height: 1
    &:hover
        color: #fff

.logo__cube
    float: left
    width: 32px
    margin-right: 12px

.logo--dark
    color: #333

.logo strong
    font-weight: 300
    opacity: 0.7

.hero
    min-height: 100vh
    background: #1D3047
    color: #fff
    padding: 0
    position: relative

.header
    z-index: 20
    padding: 24px 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    .container
        display: flex
        align-items: center
        justify-content: space-between
        &:after
            display: none

.header--inner
    background: #1D3047
    display: flex
    align-items: center
    justify-content: space-between
    padding: 24px
    .logo
        font-size: 14px
        span
            padding-top: 4px

.menu-toggle
    color: #fff
    text-decoration: none
    display: flex
    align-items: center
    font-size: 16px
    line-height: 1
    &:hover
        color: #fff
    i
        font-size: 20px
        margin-left: 12px

.screenie
    display: block
    position: absolute
    bottom: 40px
    right: 40px
    width: 300px
    height: 579px
    background-image: url(../images/questions.png)
    background-repeat: no-repeat
    background-size: 100%

.masthead .header
    padding-bottom: 24px
    border-bottom: 1px solid rgba(255,255,255,0.25)

.content
    position: relative
    display: flex
    justify-content: center
    flex-direction: column
    min-height: 100vh
    padding-top: 80px

.content--inner
    padding-top: 104px
    display: block

.intro__actions
    margin-top: 48px

.intro__action
    display: block

.intro
    max-width: 640px

.tagline
    font-weight: 700
    font-family: 'Khula'
    font-size: 24px
    font-weight: 700

.description
    font-size: 18px
    font-weight: 100
    margin-bottom: 48px
    line-height: 1.5


section
    padding: 50px 0


.snapshot
    background-color: #0D1824
    color: #fff
    padding-left: 24px
    padding-right: 24px
    position: relative


.iphone
    width: 300px
    height: 620px
    background-size: cover
    background-image: url(../images/iphone.png)
    background-repeat: no-repeat
    left: 50%
    margin-left: -150px
    position: absolute
    top: -36px


.screenshot
    width: 262px
    height: 464px
    background-image: url(../images/screen-1.png)
    background-size: cover
    position: absolute
    top: 70px
    left: 23px


.how
    background-color: #f4f4f4
    padding-top: 150px


.contact
    background-color: #4a90e2
    color: #fff

.signup__label
    font-size: 15px
    margin-bottom: 12px

.signup__actions
    margin-top: 12px

.signup input[type=text]
.signup input[type=email]
.signup input[type=password]
    border: 1px solid #fff
    background: none
    color: #fff

.signup--light input[type=text]
.signup--light input[type=email]
.signup--light input[type=password]
    border: 1px solid #ccc
    color: #333

.footer
    padding: 24px 0
    background: #1D3047


.clock
    width: 85px
    height: 85px
    background-image: url(../images/clock-face.svg)
    background-size: 85px
    background-repeat: no-repeat
    margin: 0 auto
    position: relative


.clock .dot
    position: absolute
    left: 50%
    margin-left: -7px
    width: 14px
    height: 14px
    top: 50%
    margin-top: -7px
    background-image: url(../images/clock-dot.svg)
    background-size: 14px
    background-repeat: no-repeat


.clock .bighand
    position: absolute
    background-image: url(../images/clock-bighand.svg)
    width: 20px
    height: 20px
    background-repeat: no-repeat
    left: 23px
    top: 22px
    transform-origin: bottom right


.clock .smallhand
    position: absolute
    background-image: url(../images/clock-smallhand.svg)


.highlight
    opacity: 0.5
    transition: all 0.25s ease
    position: relative
    cursor: pointer


.highlight:before
    position: absolute
    left: -5px
    width: 5px
    height: 100%
    background-color: #3E7CC2
    content: ''
    display: block
    opacity: 0
    transition: all 0.25s ease


.highlight:hover
    opacity: 1


.highlight:hover:before
    transform: translateX(-24px)
    opacity: 1


.masthead
    padding-top: 0
    background: #1D3047
    color: #fff


.summary
    font-size: 18px
    font-weight: 300


.title
    font-weight: 300

.sidebar
    border-right: 1px solid #ddd
    padding-right: 24px

.sidebar__links
    list-style: none
    margin: 0
    margin-bottom: 24px
    a
        display: block
        padding: 12px
        margin: 0 -12px
        text-decoration: none
        color: #666
        font-size: 14px
        border-radius: 4px
        transition: all 0.1s ease
        font-weight: 500
        &:hover
            color: #333
        &.active
            background-color: #eee
            color: #333

.alert
    padding: 24px
    background-color: #FFF9DF
    font-size: 16px
    border-radius: 4px
    margin-bottom: 24px
    :last-child
        margin-bottom: 0

@media(min-width: 768px)

    .login
        display: block

    .intro__action
        display: inline-block
        &:first-child
            margin-right: 12px

    .tagline
        font-size: 32px

    .description
        font-size: 24px

    .signup
        max-width: 420px
        margin: 0 auto
        width: 100%

    .signup input[type=text]
    .signup input[type=password]
    .signup input[type=email]
        margin-bottom: 0
        height: 50px


    .signup__group
        flex: 1
        margin-bottom: 24px

    .confirm
        max-width: 720px

    .confirm__text
        font-size: 16px
