{{> shared/header}}
<section class="hero">
    <div class="content">
        <div class="container">
            <div class="intro">
                <h1 class="tagline u-flat">Get your staff learning in sixty seconds</h1>
                <h2 class="description u-flat">Now that's training delivered differently&hellip;</h2>
                <div class="intro__actions">
                    <a href="register.html" class="button button-action intro__action">Get started for free</a>
                    <a href="how.html" class="button intro__action">Find out how <i style="margin-left: 12px" class="fa fa-caret-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
