<div class="container">
    <ul class="unstyled cards">
        <li>
            {{#each users}}
                <li>{{firstName}} {{lastName}} {{email}}</li>
            {{/each}}
        </li>
    </ul>
</div>
