.btn
    display: inline-block
    border-radius: 4px
    height: 44px
    line-height: 44px
    color: #fff
    font-weight: bold
    padding: 0 24px
    text-align: center
    text-decoration: none
    background: $blue
    border: 0
    cursor: pointer
    transition: all 0.25s ease
    &:hover
        background-color: lighten($darkBlue,10%)
        color: #fff
    &:focus
        outline: 0
