.card
    text-decoratioN: none
    background-color: #fff
    box-shadow: 0 1px 0 rgba(0,0,0,0.4)
    display: block

.card__footer
.card__body
    padding: 24px

.card__footer
    background-color: #f9f9f9
    border-top: 1px solid #eee
