.course
    box-shadow: 0 1px 0 rgba(0,0,0,0.4)
    border-radius: 4px
    overflow: hidden
    background-color: #fff

.course__title
    font-size: 24px
    font-weight: 300
    margin-bottom: 6px

.course__meta
    color: rgba(255,255,255,0.5)
    font-size: 14px
    margin: 0
    font-weight: 300
    span
        padding-left: 12px
        margin-left: 12px
        border-left: 1px solid rgba(255,255,255,0.5)
        &:first-child
            padding-left: 0
            margin-left: 0
            border-left: 0

.course__hd
    background-color: $darkBlue
    color: #fff
    padding: 24px
    display: flex
    justify-content: space-between
    align-items: center

.course__arrow
    font-size: 18px
