.staff
    display: flex
    text-decoration: none
    margin: 0 auto
    max-width: 500px

.staff__img
    width: 48px
    height: 48px
    margin-right: 12px
    background: #ddd
    
.staff__title
    color: $darkBlue

.staff__course
    color: #999
    font-size: 15px
    margin-bottom: 6px
