@import "normalize.css"
@import "skeleton.css"
@import "variables"
@import "components/menu"
@import "components/buttons"
@import "components/forms"
@import "components/courses"
@import "components/modules"
@import "components/progress"
@import "components/cards"
@import "components/staff"
@import "components/flyouts"
@import "components/timeline"
@import "components/search"

html
body
    height: 100%

body
    background-color: #eee

img
    max-width: 100%

.wrapper
    position: relative
    padding-left: 60px
    height: 100%
    overflow-y: auto

.wrapper__hd
    position: fixed
    width: 100%
    height: 70px
    padding: 0 24px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #fff
    box-shadow: 0 1px 1px rgba(0,0,0,0.3)
    z-index: 20

.wrapper__body
    padding: 24px
    padding-right: 324px
    padding-top: 94px

.wrapper__title
    font-size: 20px
    font-weight: 300
    color: #333

.wrapper__action
    font-weight: bold
    color: $blue
    font-size: 16px
    text-decoration: none

.wrapper__sidebar
    position: fixed
    right: 0
    top: 70px
    z-index: 10
    bottom: 0
    width: 300px
    overflow-y: auto
    background-color: #F9F9F9
    padding: 24px

.menu
    position: absolute
    top: 0
    left: -240px
    height: 100%
    width: $menuWidth
    z-index: 100

.comments__item
    padding: 12px 0
    border-top: 1px solid #eee
    &:first-child
        padding-top: 0
        border-top: 0
    p
        margin-bottom: 0
    a
        font-weight: bold
    &:last-child
        margin-bottom: 12px

.comments__input
    display: flex

.comment__avatar
    width: 44px
    height: 44px
    margin-right: 12px
    background-color: #ddd
